Repository Laravel-Nepal/contents, pull requests merged in 2025-09, with the labels that each got.

#8 feat: Mantra Ideas Company Profile
  companies/mantra-ideas.md
Labels: Company

#10 feat: Company LinkedIn and email added
  companies/README.md
  companies/mantra-ideas.md
Labels: Company

#13 Author account added: Sanoj Raj Shrestha
  authors/sanoj32.md
  images/profile/sanoj32.jpeg
Labels: Author, Image

#14 tips: added tips to unscope tenancy from filament resource
  tips/README.md
  tips/filament-tenancy-unscoped-resource.md
Labels: Tips

#17 feat(anuzpandey): add laravel-nepali-date package
  packages/laravel-nepali-date.md
Labels: Package

#19 feat: added laravel cybersource package
  packages/laravel-cybersource.md
Labels: Package

#20 ref: updated laravel cybersource github url
  packages/laravel-cybersource.md
Labels: Package

#24 pemba17 profile added
  authors/pemba17.md
Labels: Author
